<!-- 
File Name: book.ejs
Student Name : Chaitanya Sai Ambarukhana
Student ID : 301150058
Date : 14/02/2021  

-->

<%- include ../partials/header.ejs %> <%- include ../partials/navbar.ejs %>
<br />
<!--Welcome Message-->

<main class="container">
    <div class="row ">
        <div class="col-md-12 col-md-offset-3 ">
            <h1 class="text-center"><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover ">
                <tr class="bg-primary">
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Contact Number</th>
                </tr>
                <!--Repeatable template Row -->

                    <% for(let count = 0; count < ContactList.length; count++) { %>
                        <tr >
                            <td class="text-center "><%= ContactList[count].name %></td>
                            <td class="text-center "><%= ContactList[count].email %></td>
                            <td class="text-center "><%= ContactList[count].number %></td>
                            
                        </tr>
                    <% } %>

            </table>
        </div>
    </div>


</main>

<%- include ../partials/footer.ejs %>
